<table>
    <tr>
        <td>
           <label-widget [text]="'Monthly EMI'"></label-widget>
        </td>
        <td>
            <label-widget [text]="result.emi.toString()"></label-widget>
        </td>
    </tr>
    <tr>
        <td>
           <label-widget [text]="'Total Interest Amount'"></label-widget>
        </td>
        <td>
            <label-widget [text]="result.totalInterest.toString()"></label-widget>
        </td>
    </tr>
    <tr>
        <td>
           <label-widget [text]="'Total Amount Payable'"></label-widget>
        </td>
        <td>
            <label-widget [text]="result.totalAmountPayable.toString()"></label-widget>
        </td>
    </tr>
</table>